<app-loading-scream [isLoading]="isLoading"></app-loading-scream>
<div
  class="flex justify-content-center align-items-center"
  style="height: 100vh; display: flex"
>
  <form [formGroup]="formulario" (ngSubmit)="sendEmail()">
    <div class="card p-fluid">
      <h5>Recuperar contraseña</h5>
      <div class="field mb-1">
        <div class="grid">
          <div class="col-12 md:col-4">
            <button
              type="button"
              pButton
              pRipple
              [disabled]="formulario.invalid"
              label="Search"
              type="submit"
            ></button>
          </div>
          <div class="col-12 md:col-8">
            <label for="correo"></label>

            <input
              type="email"
              pInputText
              placeholder="Recuperar"
              formControlName="correo"
              name="correo"
            />

            <small
              *ngIf="correo.invalid && (correo.dirty || correo.touched)"
              class="block p-error"
            >
              <div *ngIf="correo.errors?.['required']">
                El correo de usuario es requerido.
              </div>
              <div *ngIf="correo.errors?.['email']">
                El correo de usuario no es válido.
              </div>
            </small>
          </div>
        </div>
      </div>
      <div *ngIf="emailSent">
        <p-message
          severity="success"
          text="Se ha enviado un correo con las instrucciones para recuperar tu contraseña."
        ></p-message>
        <form [formGroup]="formulariocodigo" (ngSubmit)="sendEmailcodigo()">
          <div class="field my-3">
            <label for="codigo">Ingrese el codigo</label>
            <input
              type="text"
              pInputText
              formControlName="codigo"
              class="w-full"
              name="codigo"
              placeholder="Codigo recibido"
              maxlength="6"
              (keypress)="preventSpaces($event)"
            />
            <small
              *ngIf="codigo.invalid && (codigo.dirty || codigo.touched)"
              class="block p-error"
            >
              <div *ngIf="codigo.errors?.['required']">
                El codigo es requerido
              </div>
            </small>
          </div>
          <div style="display: flex; justify-content: space-between">
            <p-button
              label="Recuperar"
              styleClass="w-full"
              severity="success"
              [disabled]="formulariocodigo.invalid"
              type="submit"
            ></p-button>
          </div>
        </form>
        <div *ngIf="seCreoLaContrasena === true">
          <p-message
            severity="success"
            text="Su nueva contraseña llego a su correo"
          ></p-message>
          <p-button
            label="Iniciar sesión"
            styleClass="w-full"
            routerLink="/auth/login"
          ></p-button>
        </div>
      </div>
    </div>
  </form>
</div>
